#main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 0 auto;
    max-width: 1920px;
    max-height: 550px;
    min-width: 1268px;
    overflow: hidden;
    position: relative;
}

.banner{
    
    display: flex;
    flex-direction: column;
    width: 530px;
    position: absolute;
    top: 47px;    
    left: 150px;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;

}
.top p{
    color: #c7bed8;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
    margin: 0 16px 0 0;
    text-decoration: line-through;
    width: auto;
}
.top h1{
    color: #5f1f9c;
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}
#pa{
    width: 100%;
    color: #3e2a80;
    font-size: 38px;
    font-weight: 550;
    line-height: 1.2;
    margin: 16px 0 0;
}
#pb{
    width: 100%;
    color: #371f7b;
    font-size: 22px;
    margin: 12px 0 24px;
}
.btn-container{
    width: 100%;
}
button{
    background-color: #6739b7;
    border: 0px;
    font-size: 15px;
    border-radius: 33px;
    color: #fff;
    font-weight: 600;
    padding: 16px 50px;
}
#main img{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}