.full-width{
    min-width: max-content;
    width: 100%;
}
.insurance-container{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1268px;
}
.insurance-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.logo1{
    height: 230px;
    width: 550px;
    background-size: cover;
}
.logo2{
    width: 170px;
}
.video-carousel-conc{
    align-items: flex-start;
    display: flex;
    height: 500px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.five-div-conc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 80%;
}
.sqaure-video{
        height: 350px;
    position: relative;
    width: 20%;
}